In [131]:
import numpy as np
import pandas as pd

### Предобработка

In [132]:
h = pd.read_csv("mushrooms.csv")

In [133]:
A = "class"
B = "habitat"

In [134]:
cat1, cnt1 = np.unique(
        h["class"].values, return_counts = True
) ## различные типы грибов по возможности питания и их количества

In [135]:
cat1

array(['e', 'p'], dtype=object)

In [136]:
cnt1 #количество съедобных и ядовитых

array([4208, 3916])

### Поиск различных типов грибов (Съедобные и нет)

In [143]:
b1 = h["class"] == "p"
b2 = h["class"] == "e"
b3 = np.logical_and(np.logical_not(b1.values), np.logical_not(b2.values))

In [141]:
h[b3]
##Только съедобные и ядовитые

Empty DataFrame
Columns: [class, cap-shape, cap-surface, cap-color, bruises, odor, gill-attachment, gill-spacing, gill-size, gill-color, stalk-shape, stalk-root, stalk-surface-above-ring, stalk-surface-below-ring, stalk-color-above-ring, stalk-color-below-ring, veil-type, veil-color, ring-number, ring-type, spore-print-color, population, habitat]
Index: []

[0 rows x 23 columns]

### Где чаще всего растут несъедобные грибы?

In [142]:
pd.crosstab(h[h['class'] == "p"][A], h[B])/int(cnt1[1])*100
## считаем процент ядовитых в разных местах обитания

habitat         d          g          l         m          p         u
class
p        32.37998  18.896834  15.117467  0.919305  25.740552  6.945863

In [ ]:
Самое большое количество ядовитых живет в d(woods)

### Какого цвета обычно съедобные грибы? Какого цвета почти не бывают?

In [156]:
c = "cap-color"
pd.crosstab(h[h['class'] == "e"][A], h[c])/int(cnt1[0])*100

cap-color,b,c,e,g,n,p,r,u,w,y
class,,,,,,,,,,
e,1.140684,0.760456,14.828897,24.524715,30.038023,1.330798,0.380228,0.380228,17.110266,9.505703

In [175]:
l = max(1.140684, 0.760456, 14.828897, 24.524715, 30.038023, 1.330798, 0.380228, 0.380228, 17.110266, 9.505703)
m = min(1.140684, 0.760456, 14.828897, 24.524715, 30.038023, 1.330798, 0.380228, 0.380228, 17.110266, 9.505703)   
print (l, m)

30.038023 0.380228

Чаще всего встречаются коричневые (n) съедобные грибы, реже всего - зеленые (r)